</DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IEmedge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> CONT+ </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
        <header>
            <div class="container-hero">
                <div class="container hero">
                    <div class="customer-support">
                        <i class="fa-solid fa-headphones"></i>
                        <div class="content-customer-support">
                            <span class="text"> {{ mensajes.soporte_cliente }} </span>
                            <span class="number"> 3228930224 </span>
                        </div>
                    </div> 
                    <div class="container-logo">
                        <i class="fa-solid fa-envelope-open-text"></i>
                        <h1 class="logo"><a href="/">CONT+</a></h1>
                    </div>
                </div>
            </div>
            <div class="container-navbar">
                <nav class="navbar container">
                    <i class="fa-solid fa-bars"></i>
                    <ul class="Menu">
                        <li><a href="?idioma_i=2">Español</a></li>
                        <li><a href="?idioma_i=1">English</a></li>
                        <li><a href="?idioma_i=3">Portugues</a></li>
                        <li><a href="?idioma_i=4">Japones</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="banner">
            <div class="content-banner">
                <p>{{ mensajes.puedes_ver }}</p>
                <h2>CONT+ {{ mensajes.idioma }} <br> {{ mensajes.analizador }}</h2>

                <div class="contenedor-interaccion">
                    <button class="boton-usar" onclick="mostrarFormulario()" type="button">
                        {{ mensajes.usar }}
                    </button>

                    <form id="formulario-texto" method="POST" enctype="multipart/form-data" style="display: none;">
                        {% csrf_token %}
                        <label for="modo">{{ mensajes.n }}</label>
                        <select name="modo" id="modo" onchange="mostrarCampos()">
                            <option value="escribir">{{ mensajes.l }}</option>
                            <option value="archivo">{{ mensajes.m }}</option>
                        </select>

                        <div id="campoTexto">
                            <textarea name="texto" rows="6" cols="60" placeholder="{{ mensajes.x }}"></textarea>
                        </div>

                        <div id="campoArchivo" style="display:none;">
                            <input type="file" name="archivo">
                        </div>

                        <input type="hidden" name="idioma_i" value="{{ idioma_i }}">
                        <button type="submit">{{ mensajes.analizar }}</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="Resultado">
            <h2>Resultado del análisis</h2>
            <ul>
            <li><strong>Idioma detectado:</strong> {{ resultado.idioma }}</li>
            <li><strong>Total de palabras:</strong> {{ resultado.total_palabras }}</li>
            <li><strong>Total de letras:</strong> {{ resultado.total_letras }}</li>
            <li><strong>Total de frases:</strong> {{ resultado.total_frases }}</li>
            <li><strong>Palabra moda:</strong> <span class="badge">{{ resultado.palabra_moda }}</span></li>
            </ul>

            <h3>Palabras más frecuentes (Top 5)</h3>
            <table>
            <thead>
                <tr><th>Palabra</th><th>Veces</th><th>Comentario</th></tr>
            </thead>
            <tbody>
                {% for palabra, veces in resultado.palabras_top.items %}
                <tr>
                <td>{{ palabra }}</td>
                <td>{{ veces }}</td>
                <td>{{ resultado.frecuencias_clasificadas.palabra }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

            <h3>Sugerencias de sinónimos</h3>
            {% if resultado.sugerencias_sinonimos %}
            <ul>
                {% for bloque in resultado.sugerencias_sinonimos %}
                <li>
                    <strong>{{ bloque.tipo|capfirst }}:</strong>
                    Ya usaste <em>{{ bloque.usados|join:", " }}</em>.<br>
                    Puedes considerar: <em>{{ bloque.sugerencias|join:", " }}</em>.
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No hay sugerencias de sinónimos.</p>
            {% endif %}

            <h3>Varianza de frecuencia</h3>
            <p>
            Promedio: <strong>{{ resultado.varianza_info.promedio }}</strong> ·
            Varianza: <strong>{{ resultado.varianza_info.varianza }}</strong><br>
            {{ resultado.varianza_info.respuesta }}
            </p>
        </section>
        <main class="main-content">
            <section class="container container-features">
                <div class="card-feature">
                    <i class="fa-solid fa-plane-up"></i>
                    <div class="feature-content">
                        <span>{{ mensajes.globalizacion }}</span>
                        <p>{{ mensajes.capacidad }}</p>
                    </div>
                </div>
                <div class="card-feature">
                    <i class="fa-solid fa-hashtag"></i>
                    <div class="feature-content">
                        <span>{{ mensajes.contador }}</span>
                        <p>{{ mensajes.caracteres }}</p>
                    </div>
                </div>
                <div class="card-feature">
                    <i class="fa-brands fa-wordpress"></i>
                    <div class="feature-content">
                        <span>{{ mensajes.corrector }}</span>
                        <p>{{ mensajes.muletillas }}</p>
                    </div>
                </div>
            </section>
            <section class="container top-categories">
                <h1 class="heading-1">{{ mensajes.funciones }}</h1>
                <div class="container-categories">
                    <div class="card-categorie categorie-moca">
                        <p>{{ mensajes.contador_caract }}</p>
                        <span>{{ mensajes.ver_mas}}</span>
                    </div>
                    <div class="card-categorie categorie-capuchino">
                        <p>{{ mensajes.sugerencias }}</p>
                        <span>{{ mensajes.ver_mas}}</span>
                    </div>
                    <div class="card-categorie categorie-graficas">
                        <p>{{ mensajes.generador_graf }}</p>
                        <span>{{ mensajes.ver_mas}}</span>
                    </div>
                </div>
            </section>
        </main>     
        <script
            src="https://kit.fontawesome.com/25bd882d70.js"
            crossorigin="anonymous">
        </script>
        <script>
            function mostrarFormulario() {
                const form = document.getElementById("formulario-texto");
                if (form) {
                    form.style.display = "block";
                    setTimeout(() => {
                        form.classList.add("visible");}, 10);
                    document.getElementById("campoTexto").style.display = "block";
                    document.getElementById("campoArchivo").style.display = "none";
                } else {
                alert("No se encontró el formulario.");
                }
            }

            function mostrarCampos() {
                const modo = document.getElementById("modo").value;
                document.getElementById("campoTexto").style.display = (modo === "escribir") ? "block" : "none";
                document.getElementById("campoArchivo").style.display = (modo === "archivo") ? "block" : "none";
            }
        </script>
    </body>
</html>