</DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IEmedge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> CONT+ </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
        <header>
            <div class="container-hero">
                <div class="container hero">
                    <div class="customer-support">
                        <i class="fa-solid fa-headphones"></i>
                        <div class="content-customer-support">
                            <span class="text"> {{ mensajes.soporte_cliente }} </span>
                            <span class="number"> 3228930224 </span>
                        </div>
                    </div> 
                    <div class="container-logo">
                        <i class="fa-solid fa-envelope-open-text"></i>
                        <h1 class="logo"><a href="/">CONT+</a></h1>
                    </div>
                    <div class="conteiner-user">
                        <i class="fa-solid fa-user"></i>
                        <i class="fa-solid fa-envelope-open-text"></i>
                        <div class="content-shopping-cart">
                            <span class="text"> Textos guardados </span>
                            <span class="number">(0)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-navbar">
                <nav class="navbar container">
                    <i class="fa-solid fa-bars"></i>
                    <ul class="Menu">
                        <li><a href="?idioma_i=2">Español</a></li>
                        <li><a href="?idioma_i=1">English</a></li>
                        <li><a href="?idioma_i=3">Portugues</a></li>
                        <li><a href="?idioma_i=3">Japones</a></li>
                    </ul>
                    <form class="search-fore">
                        <input type="search" placeholder="buscar..."/>
                        <button class="btn-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            
                        </button>
                    </form>
                </nav>
            </div>
        </header>
        <section class="banner">
            <div class="content-banner">
                <p>Puedes ver estadisticas de tu texto aqui.</p>
                <h2>CONT+ ESPAÑOL <br> Analizador de textos</h2>
                <a href="#">Usar ahora</a>
            </div>
        </section>
        <main class="main-content">
            <section class="container container-features">
                <div class="card-feature">
                    <i class="fa-solid fa-plane-up"></i>
                    <div class="feature-content">
                        <span>Globalización de textos</span>
                        <p>Capacidad de leer idiomas varios</p>
                    </div>
                </div>
                <div class="card-feature">
                    <i class="fa-solid fa-hashtag"></i>
                    <div class="feature-content">
                        <span>Contador</span>
                        <p>Caracteres y palabras</p>
                    </div>
                </div>
                <div class="card-feature">
                    <i class="fa-brands fa-wordpress"></i>
                    <div class="feature-content">
                        <span>Corrector de textos</span>
                        <p>Buen uso de muletillas</p>
                    </div>
                </div>
            </section>
            <section class="container top-categories">
                <h1 class="heading-1">Mejores funciones</h1>
                <div class="container-categories">
                    <div class="card-categorie categorie-moca">
                        <p>Contador de caracteres</p>
                        <span>Ver más</span>
                    </div>
                    <div class="card-categorie categorie-expreso">
                        <p>Contador de palabras</p>
                        <span>Ver más</span>
                    </div>
                    <div class="card-categorie categorie-capuchino">
                        <p>Sugiridor de sinonimos</p>
                        <span>Ver más</span>
                    </div>
                    <div class="card-categorie categorie-graficas">
                        <p>Generador de graficas</p>
                        <span>Ver más</span>
                    </div>
                </div>
            </section>
            <section class="Text">
                <h1 class="title">Texto a analizar</h1>
                <input type="text" placeholder="Ingresa tu texto...">  
            </section>
        </main>     
        <script
            src="https://kit.fontawesome.com/25bd882d70.js"
            crossorigin="anonymous">
        </script>

    </body>
</html>